#topmenu div .dropMenu 
{
    display: none;
    position: absolute;
    top: 70px;
    left: 500px;
    border: 1px solid White;
    background-color: rgb(94,117,0);
    z-index: 3000;
}

#topmenu div .dropMenu ul
{
    list-style-type: none;
    display: block;
    padding: 5px;
    margin: 0;
}

#topmenu div .dropMenu ul li
{
    display: block;
    padding: 0;
    margin: 0;
}

#topmenu div .dropMenu ul li a
{
    display: block;
    padding: 5px;
    margin: 0;
    background-image: none;
    text-decoration: none;
    color: White;
    font-weight: bold;
    font-size: 11px;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    
}

#topmenu div .dropMenu ul li a:hover
{

    background-image: url(../gfx/topmenu-submenuitem-hover.png);
    background-repeat: repeat-x;
}




#topmenu div
{

    float: left;
    margin: 0px;
    padding: 0px;
}

